<!-- MATIN Customized -->
<header id='heading' class='heading limiter clearfix'></header>

  <!-- Material Design Lite css Library -->
 <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-light_blue.min.css" />
  
  <!-- Material Design Fonts -->
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel='stylesheet' href='./style.css'>

<!-- Material Design Formatting -->

<style>
.newrepo {
float:right;
position: relative;
right: 15%;
width: 24%;
}


@media (max-width: 1280px) {
.newrepo {
display: none;
}
}
</style>

<div id='content' class='application content limiter'>
	<div id="newrepo" class="newrepo">
	<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" onclick="window.open('https://github.com/projectpages/project-pages/fork','_blank');">
	  New Project-Pages
	</button>
	</div>
  <div class='topbar'>
    <div id='search' class='content-search round'></div>	
  </div>
  <div id='repos' class='mdl-grid'></div>
</div>