<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<% if (toolbar.draft) { %>
  <a href='#' class='draft-to-post round contain'>
    <%= t('actions.draft.toPost') %><span class='ico small checkmark'></span>
    <span class='popup round arrow-top'><%= t('actions.draft.toPostInfo') %></span>
  </a>
<% } else { %>
  <% if (toolbar.metadata && toolbar.metadata.published) { %>
    <a href='#' class='publish-flag published round contain' data-state='true'>
      <%= t('actions.publishing.published') %><span class='ico small checkmark'></span>
    </a>
  <% } else if (toolbar.metadata && !toolbar.metadata.published) { %>
    <a href='#' class='publish-flag round contain' data-state='false'>
      <%= t('actions.publishing.unpublished') %><span class='ico small checkmark'></span>
    </a>
  <% } %>
<% } %>

<% if (toolbar.markdown) { %>
<div class='options clearfix'>

<!-- MATIN - New Buttons -->

  <!-- Headers -->

  <ul class='group round clearfix'>
	<li><a href='#' title="Main Heading" data-key='mainheading' data-snippet='<% print("#\n\n") %>'>h1</a></li>
    <li><a href='#' title="<%= t('toolbar.heading') %>" data-key='heading' data-snippet='<% print("##\n\n") %>'>h2</a></li>
    <li><a href='#' title="<%= t('toolbar.subHeading') %>" data-key='sub-heading' data-snippet='<% print("###\n\n") %>'>h3</a></li>
	<li><a href='#' title="Rule" data-key='rule' data-snippet='<% print("------\n\n") %>'><i class="material-icons" style="font-size: 20px; vertical-align: middle;">remove</i></a></li>
  </ul>
    
  <!-- Emphasis -->
  
  <ul class='group round clearfix'>
    <li><a href='#' title="<%= t('toolbar.bold') %>" data-key='bold' data-snippet='****'>B</a></li>
    <li>
      <a data-key='italic' href='#' title="<%= t('toolbar.italic') %>" data-snippet='__'>
        <span class='ico small italic'></span>
      </a>
    </li>
	<li><a class='round' title="Underline" href='#' data-key='cblock' data-snippet='<% print("&lt;u&gt;&lt;/u&gt;"); %>' data-dialog=true><i class="material-icons" style="font-size: 16px; vertical-align: middle;">format_underlined</i></a></li>	
  </ul>
  
  <!-- Alignment -->
  
  <ul class='group round clearfix'>
    <li><a class='round' title="Left" href='#' data-key='cblock' data-snippet='<% print("&lt;p align=&quot;left&quot;&gt;\n\n&lt;/p&gt;"); %>'  data-dialog=true><i class="material-icons" style="font-size: 20px; vertical-align: middle;">format_align_left</i></a></li>
	<li><a class='round' title="Center" href='#' data-key='hcblock' data-snippet='<% print("&lt;p align=&quot;center&quot;&gt;\n\n&lt;/p&gt;"); %>' data-dialog=true><i class="material-icons" style="font-size: 20px; vertical-align: middle;">format_align_center</i></a></li>
	<li><a class='round' title="Right" href='#' data-key='hcblock' data-snippet='<% print("&lt;p align=&quot;right&quot;&gt;\n\n&lt;/p&gt;"); %>' data-dialog=true><i class="material-icons" style="font-size: 20px; vertical-align: middle;">format_align_right</i></a></li>
	<li><a class='round' title="Justify" href='#' data-key='hcblock' data-snippet='<% print("&lt;p align=&quot;justify&quot;&gt;\n\n&lt;/p&gt;"); %>' data-dialog=true><i class="material-icons" style="font-size: 20px; vertical-align: middle;">format_align_justify</i></a></li>
  </ul>
  
  <!-- Colors -->
  
  <ul class='group round clearfix'>
    <li><a class='round' title="Red" href='#' data-key='cblock' data-snippet='<% print("&lt;p style=&quot;color:red&quot;&gt;\n\n&lt;/p&gt;"); %>'  data-dialog=true><i class="material-icons" style="font-size: 16px; vertical-align: middle; color: rgba(255, 0, 0, 1);">format_color_text</i></a></li>
	<li><a class='round' title="Green" href='#' data-key='cblock' data-snippet='<% print("&lt;p style=&quot;color:green&quot;&gt;\n\n&lt;/p&gt;"); %>'  data-dialog=true><i class="material-icons" style="font-size: 16px; vertical-align: middle; color: rgba(0, 255, 0, 1);">format_color_text</i></a></li>
	<li><a class='round' title="Blue" href='#' data-key='cblock' data-snippet='<% print("&lt;p style=&quot;color:blue&quot;&gt;\n\n&lt;/p&gt;"); %>'  data-dialog=true><i class="material-icons" style="font-size: 16px; vertical-align: middle; color: rgba(0, 0, 255, 1);">format_color_text</i></a></li>
  </ul>
  
  <!-- List -->
  
  <ul class='group round clearfix'>
    <li>
      <a title="<%= t('toolbar.blockquote') %>"  href='#' data-key='quote' data-snippet='<% print("> We loved with a love that was more than love\n\n"); %>'>
        <span class='ico small quote'></span>
      </a>
    </li>
    <li>
      <a href='#' title="<%= t('toolbar.list') %>" data-key='list' data-snippet='<% print("- item\n- item\n- item\n\n"); %>'>
        <span class='ico small list'></span>
      </a>
    </li>
    <li>
      <a href='#' title="<%= t('toolbar.numberedlist') %>" data-key='numbered-list' data-snippet='<% print("1. item\n2. item\n3. item\n\n"); %>'>
        <span class='ico small numbered-list'></span>
      </a>
    </li>
  </ul>
  
  <!-- Embed -->
  
  <ul class='group round clearfix'>
    <li>
      <a title="<%= t('toolbar.link') %>" href='#' data-key='link' data-snippet=false data-dialog=true>
        <span class='ico small link'></span>
      </a>
    </li>
    <li>
      <a title="<%= t('toolbar.image') %>" href='#' data-key='media' data-snippet=false data-dialog=true>
        <span class='ico small picture'></span>
      </a>
    </li>
  </ul>   
  
  <!-- Code Block -->
  
  <ul class='group round clearfix'>
    <li><a class='round' title="Code Block" href='#' data-key='cblock' data-snippet='<% print("```\n\n```\n"); %>' data-dialog=true><i class="material-icons" style="font-size: 20px; vertical-align: middle;">code</i></a></li>
	<li><a class='round' title="Highlighted Code Block" href='#' data-key='hcblock' data-snippet='<% print("{% highlight python %}\n\n{% endhighlight %}\n"); %>' data-dialog=true><i class="material-icons" style="font-size: 14px; vertical-align: middle;">polymer</i></a></li>
  </ul>
  
  <!-- Slide Layout -->
  
  <ul class='group round clearfix'>
    <li><a class='round' title="Horizontal Slide" href='#' data-key='cblock' data-snippet='<% print("{{ page.horizontal }}\n\n"); %>' data-dialog=true><i class="material-icons" style="font-size: 20px; vertical-align: middle;">panorama_horizontal</i></a></li>
	<li><a class='round' title="Vertical Slide" href='#' data-key='hcblock' data-snippet='<% print("{{ page.vertical }}\n\n"); %>' data-dialog=true><i class="material-icons" style="font-size: 20px; vertical-align: middle;">panorama_vertical</i></a></li>
  </ul>
  
  <!-- Help -->
  
  <ul class='group round clearfix'>
    <li>
    <a class='round' title="<%= t('toolbar.help') %>" href='#' data-key='help' data-snippet=false data-dialog=true>
        <span class='ico small question'></span>
      </a>
    </li>
  </ul>
  
<!-- MATIN - End -->
 
</div>
<% } %>
<div id='dialog'></div>
